@import 'config';
@import 'menu';

*{
    box-sizing: border-box;
}

body
{
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
h1, h2, h3
{
    margin: 0;
    font-weight: 400;
    
    &.lg-heading
    {
        font-size: 6rem;
    }
    
    &.sm-heading
    {
        margin-bottom: 2rem;
        padding: .2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}
a
{
    color: #fff;
    text-decoration: none;
}
header
{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.text-secondary
{
    color: $secondary-color;
}
main
{
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh - 60px);
    
    .icons
    {
        margin-top: 1rem;
        
        a
        {
            padding: .4rem;
            
            &:hover
            {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    
    &#home
    {
        overflow: hidden;
        
        h1
        {
            margin-top: 20vh;
        }
    }
}

.about-info
{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
        'bioimage bio bio'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    
    .bio-image
    {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: solid 3px $secondary-color;
    }
    .bio
    {
        grid-area: bio;
        font-size: 1.5rem;
    }
    .job-1
    {
        grid-area: job1;
    }
    .job-2
    {
        grid-area: job2;
    }
    .job-3
    {
        grid-area: job3;
    }
    .job
    {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: solid 5px $secondary-color;
    }
}
//work page
.projects
{
    display: grid;
    grid-gap: .7rem;
    grid-template-columns: repeat(3, 1fr);
    
    img
    {
        width: 100%;
        border: solid 3px #fff;
        
        &:hover
        {
            opacity: .5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

//contact page
.boxes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    word-break: break-all;
    overflow: hidden;
    
    div
    {
        font-size: 2rem;
        border: solid 3px #fff;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;
        
        &:hover
        {
            padding: .5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            
            span
            {
                color: set-text-color($secondary-color);
            }
        }
    }
}

//button style
.btn
{
    display: block;
    padding: .5rem 1rem;
    border: 0;
    margin-bottom: .3rem;
    
    &:hover
    {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark
{
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}
.btn-light
{
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

#main-footer
{
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';